* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

.container{
    max-width: 1080px;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    padding: 3rem 0;
}

header form {
    margin: 2rem 0;
    position: relative;
}

header form input {
    width: 100%;
    background-color: white;
    padding: 1.2rem 1rem;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1,3rem;
    font-family: inherit;
}

header form input:focus {
    border: 2px solid red;
}

header form img{
    object-fit: cover;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.disctonary_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section p{
    color: black;
}

.noun, 
.verb{
    margin: 4rem 0;
}

.noun h3,
.verb h3{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.noun h3::after,
.verb h3::after{
    position: absolute;
    content: "";
    width: 92%;
    height: 1px;
    background-color: black;
    top: 15px;
    bottom: 0;
    right: 0;
}

.noun > p,
.verb > p{
    color: black;
}

.noun ul,
.verb ul{
    margin: 2rem 0;
}

ul li{
    /* list-style-type: none; */
    margin: 1rem 0;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

ul li::before{
    content: "\2022";
    color: black;
    font-size: 2rem;
    width: 1rem;
    padding-right: 2rem;
}
